* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.header {
    background-color: #04152d;
    color: white;
    padding: 0 20vw 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    color: #a9a9a9;
    font-size: 14px;
    margin-right: 20px;
}

.introduction {
    display: flex;
    align-items: stretch;
    margin: 50px 0;
    justify-content: space-between;
}

h1 {
    font-size: 45px;
}

.introduction div p {
    color: #a9a9a9;
    font-size: 14px;
}

.introduction div {
    margin-right: 20px;
}

.introduction div button {
    margin: 20px 0;
    padding: 10px 30px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: rgb(42, 111, 222);
}

.introduction img {
    min-width: 0;
    object-fit: cover;
}

/* content 1 */

.content-1 {
    padding: 30px 20vw 50px;
    text-align: center;
}

.content-1 > div {
    display: flex;
    margin: 30px 0;
    gap: 20px;
}

.frame {
    min-width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.frame img {
    flex: 1 1 0;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 8px;
    border: 4px solid #04152d;
    margin: 0 0 10px;
}

.frame p {
    font-size: 14px;
}

/* content 2 */

.content-2 {
    background-color: rgb(211, 217, 232);
    color: #04152d;
    padding: 50px 20vw;
    text-align: center;
}

.content-2 p {
    font-size: 23px;
}

.content-2 p:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}

/* content 4 */

.content-4 {
    padding: 40px 15vw;
}

.content-4 > div {
    background-color: #5789d8;
    padding: 30px 70px;
    display: flex;
    border-radius: 10px;
    color: white;
    justify-content: space-between;
    gap: 5vw;
}

.content-4 p:first-child {
    font-size: 17px;
    font-weight: 600;
}

.content-4 p:last-child {
    font-size: 14px;
    font-weight: 200;
}

.content-4 button {
    padding: 0px 30px;
    background-color: #5789d8;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
}